:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 20px;
  height: 100%;
}

.messages-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
