:host {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
  border-radius: 2px;
  margin-top: 100%;

  &.comment {
    border: 1px dashed var(--light-color);
  }
}

.hidden-textarea {
  width: 100%;
  resize: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
  color: var(--light-color);
  background-color: var(--dark-color);
  border: none;
  border-radius: 2px;
  padding: 0 5px;

  &::placeholder {
    color: var(--light-color_75);
  }

  &:focus-visible,
  &:hover {
    outline: 1px solid var(--primary-color);
  }
}
