<div class="profile-card">
  <div class="avatar-name">
    <img
      class="profile-card__avatar"
      src="/assets/images/avatar.png"
      alt="Avatar"
    />
    <div class="profile-card__info">
      <span class="profile-card__name h6">Райн Гослинг</span>
      <span class="profile-card__username subtitle">ryan.gosling</span>
    </div>
  </div>
  <div class="profile_card__description">
    Список навыков, который мы обсудили выше, — основа резюме,
    но не единственная его часть. Также можно рассказать о себе в классическом
    смысле — этот раздел можно добавить в сопроводительное письмо.
  </div>
  <div class="profile_card__tags">
    <div class="skill_tag">Angular</div>
    <div class="skill_tag">HTML</div>
    <div class="skill_tag">SCSS</div>
    <div class="skill_tag">JS</div>
    <div class="skill_tag">TS</div>
  </div>
  <div class="profile-card__actions_btns">
    <button class="btn">Подписаться</button>
    <button class="btn">Создать</button>
  </div>
</div>
