.profile-card {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  gap: 32px;
  border: 1px solid var(--light-color);
  padding: 32px 24px;
}

.avatar-name {
  display: grid;
  grid-template-columns: 70px 1fr;
  gap: 20px;
}

.profile-card__avatar {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-card__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile_card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: flex-start;
  height: min-content;
}

.skill_tag {
}
