:host {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 20px;
  border-bottom: var(--light-border);
}

.companion-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.chat_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  color: var(--light-color);
}
