:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 12px;

  &.is-mine {
    grid-template-columns: 1fr 32px;
    justify-self: end;

    .message-container {
      order: -1;
      align-items: end;
    }

    .message__text {
      background-color: var(--primary-color);
      color: var(--dark-color);

      mask: linear-gradient(#000 0 0),
        linear-gradient(-135deg, #000 50%, #0000 0) border-box 100% 100% / 200%
          200% no-repeat;
      mask-composite: exclude;
      mask-position: 10% 94%;
    }
  }
}

.message-container {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: var(--light-color);
  gap: 8px;
}

.message__author {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.message__text {
  padding: 8px 16px;
  background-color: var(--message-color);
  font-weight: 500;
  width: fit-content;

  mask: linear-gradient(#000 0 0),
    linear-gradient(-225deg, #000 50%, rgba(0, 0, 0, 0) 0) border-box 100% 100% /
      200% 200% no-repeat;
  mask-composite: exclude;
  mask-position: 90% 100%;
}
