@use "fonts";
@use "margins";

:root {
  --dark-color: #000000;
  --light-color: #ffffff;
  --light-color_75: #ffffffbf;
  --primary-color: #ae7aff;
  --gray-color: #5f646d;
  --dark-hover-color: #161616;
  --light-transparent-color: #ffffffbf;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  font-family: "JetBrains Mono", sans-serif;
  background-color: var(--dark-color);
  color: var(--light-color);
  background-image: url("/assets/images/background.jpg");
  background-size: cover;
}

.skill_tag {
  padding: 0 8px;
  border-radius: 2px;
  border: 1px solid var(--light-color);
  display: inline;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  height: 24px;
}

.btn {
  background-color: var(--primary-color);
  border: none;
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid var(--dark-color);
}

.btn_dark {
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
  color: var(--light-color);
}

.btn-shadow {
  box-shadow: 4px 4px 0px var(--gray-color);
}

.h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.subtitle {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.tt-control-label {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.tt-input {
  display: block;
  width: 100%;
  height: 44px;
  padding: 12px 20px;
  margin-top: 8px;
  background: var(--dark-color);
  border: 1px solid var(--light-color);
  border-radius: 2px;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--light-color_75);
}

.tt-form-label {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tt-form-label__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.tt-form-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--light-color);
  border: none;
  border-bottom: 1px solid var(--light-color);
  background: none;
  height: 33px;

  &:focus-visible {
    outline: 1px solid var(--primary-color);
    border-radius: 4px;
  }
}
